@import "tailwindcss";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

h1,h2,h3,h4,p {
  color: #1e2130;
}

:root {
  --primary-color: #1d4ed8;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
}
