@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,p {
  color: #1e2130;
}

a {
  color: #1e2130;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

:root {
  --primary-color: #1d4ed8;
}
